services:
  postgres:
    networks:
      - backend
    image: postgres:16
    container_name: postgres-db
    env_file: .env
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    networks:
      - backend
    image: dpage/pgadmin4
    env_file: .env
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes: 
      - ./servers.json:/pgadmin4/servers.json
      - ./pgpass:/pgpass/.pgpass:ro


volumes:
  postgres_data:  

networks:
  backend:
