services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: configApp
      POSTGRES_PASSWORD: Config@123
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: jcastorena@aolmfg.com
      PGADMIN_DEFAULT_PASSWORD: Abc123!@#
    depends_on:
      - postgres

volumes:
  postgres_data:

environment:
  Jwt__Key: aolmfg2026
  Jwt__Issuer: DeviceConfigApi
  Jwt__Audience: DeviceConfigClients
  Jwt__ExpiresMinutes: 60